<section class="w-full h-full flex items-center justify-center">
  <div class="lg:m-8 sm:m-2">
    <h2 class="text-center text-slate-600 text-2xl font-bold">Register</h2>
    <form (ngSubmit)="onSubmit()" class="mt-4 p-6 lg:w-[420px] min-w-[380px] border-2 border-slate-400 rounded-md">
      <div class="flex flex-col gap-1 mb-2">
        <label for="name">Name</label>
        <input id="name" type="name" name="name" [(ngModel)]="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
      </div>
      <div class="flex flex-col gap-1 mb-2">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" [(ngModel)]="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
      </div>
      <div class="flex flex-col gap-1 mb-2">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" [(ngModel)]="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
      </div>
      <div class="flex flex-col gap-1 mb-2">
        <label for="birthDay">Birth Date</label>
        <input id="birthDay" type="date" name="birthDay" [(ngModel)]="birthDay" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
      </div>
      <div class="mb-2">
        <a routerLink="/login">Already registered? <span class="text-blue-500">Login here!</span></a>
      </div>
      <button class="text-white bg-slate-600 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Register</button>
    </form>
  </div>
</section>