<section class="flex flex-col items-center mt-8">
  <h1 class="font-semibold text-xl text-gray-900 mb-2">Orders</h1>

  <select [(ngModel)]="dateSelected" (change)="handleDateFilter()" class="focus:outline-blue-500 text-center my-4 bg-gray-50 max-w-[160px] border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option value="today">Today</option>
    <option value="week">Last Week</option>
    <option value="month">Last Month</option>
    <option value="all">All</option>
  </select>

  <div class="w-full max-w-[420px] sm:max-w-[620px] bg-white ">
    <div *ngFor="let order of orders" class="flex items-center border gap-2 mb-3 rounded-lg shadow-md p-2 py-4 sm:p-4">
      <img src="https://via.placeholder.com/60" alt="Dish" class="rounded-md object-cover">

      <div class="flex-1">
        <h2 class="font-bold text-md text-black capitalize">{{ order.restaurantName }}</h2>
        <p class="text-sm text-gray-400">{{ order.createdAt | date: 'dd MMM yyyy, HH:mm:ss' }}</p>
        <p class="text-gray-800 text-sm sm:text-md">Entrada: <span class="font-semibold text-black">
          {{ getStarterDishName(order) }}
        </span></p>
        <p class="text-gray-800 text-sm sm:text-md">Principal: <span class="font-semibold text-black">
          {{ getMainDishName(order) }}
        </span></p>
        <p class="text-gray-800 text-sm sm:text-md">Extra: <span class="font-semibold text-black">
          {{ getExtraDishName(order) }}
        </span></p>
        <p class="text-gray-800 text-sm sm:text-md">Instrucciones: {{ order.description }}</p>
      </div>

      <div class="flex flex-col gap-3 min-w-[110px]">
        <div class="flex flex-col gap-1">
          <h3 class="text-sm">Status:</h3>
          <p class="text-center px-4 capitalize text-sm font-semibold text-blue-400 border border-blue-500 rounded-md">
            {{ order.status.toLowerCase() }}</p>
        </div>
        
        <div class="flex flex-col gap-1">
          <label class="text-sm">Payment:</label>
          <p class="text-center px-4 capitalize text-sm font-semibold text-green-400 border border-green-500 rounded-md">
            {{ order.paymentStatus.toLowerCase() }}</p>
        </div>
      </div>
    </div>
  </div>
</section>